.component_react {
    width: 90px;
    height: 40px;
    border: 1px solid #34B3F1;
    border-radius: 4px;

    color: #34B3F1;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 14px;
}