form {
 
    table {

        margin-top: 28px;
        td, th {
            border: 1px solid #34B3F1;
            color: #888282;
            font-weight: 400;
    
            padding: 8px 15px;
            border-radius: 4px;
        }
    }
}